{% extends "layout.html" %}


{% block title %}
Register
{% endblock %}

{% block main %}


<form action="/register" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username"
            placeholder="Username" type="text" required>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email"
            placeholder="Email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            title="Email must contain and @ symbol, a . and a top domain com, org, co.uk" required>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="emailconfirmation"
            placeholder="Email confirmation" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            title="Email must contain and @ symbol, a . and a top domain com, org, co.uk" required>
    </div>
    <div class="mb-3">
        <!-- pattern must contain an uppercase, lowercase, at least 8 chars and special chars but space -->
        <!-- https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_pattern2 -->
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password"
            pattern="(?=.*[!@#$%^&*()])(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            title="Must contain at least one number and one uppercase and lowercase letter, a special char and at least 8 or more characters"
            required>
        <!-- Xpoint123% <div class="form-group has-danger">
                <input type="text" value="wrong value" class="form-control is-invalid" id="inputInvalid">
                <span id = "inputInvalid" style="color:red"> </span> <br><br> -->
        <!-- </div> -->
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Password Confirmation" type="password" required>
    </div>
<button class="btn btn-primary" type="submit">Register</button>
</form>
<br>

<p class="text-danger" id="inputInvalidLength"></p>
<p class="text-danger" id="NoCapitalLetter"></p>
<p class="text-danger" id="NoLowercaseLetter"></p>
<p class="text-danger" id="NoSpecialChar"></p>
<p class="text-danger" id="NoNumber"></p>

{% endblock %}

{% block script %}

<script>

    // console.log("Hello World!");
    // Ajax is not necessary in this case because we don't want to validate with bakend. We Can validate using JS

    var input = document.getElementById('password');
    const capitalRgx = /[A-Z]/; // Capital letters
    const lowercaseRgx = /[a-z]/; // Lowercase letters
    const specialCharRgx = /[!@#$%^&*()]/; // Matches special characters
    const numberRgx = /[0-9]/; // Matches numbers

    input.addEventListener('keyup', function() {
        console.log(input.value.length);

        //Validating password length
        if (input.value.length < 8) {
            console.log("Length less than 8 chars");
            document.getElementById('inputInvalidLength').innerHTML = 'Password length must be minimum 8 characters';
        } else {
            document.getElementById('inputInvalidLength').innerHTML = '';
        }

        // Validates password contains at least a Capital letter
        if (capitalRgx.test(input.value) == 1) {
            document.getElementById('NoCapitalLetter').innerHTML = '';
        } else {
            document.getElementById('NoCapitalLetter').innerHTML = 'Missing Capital Letter';
        }

        // Validates password contains at least a lower case letter
        if (lowercaseRgx.test(input.value) == 1) {
            document.getElementById('NoLowercaseLetter').innerHTML = '';
        } else {
            document.getElementById('NoLowercaseLetter').innerHTML = 'Missing Lower case Letter';
        }

        // Validates password contains at least a special char
        if (specialCharRgx.test(input.value)) {
            document.getElementById('NoSpecialChar').innerHTML = '';
        } else {
            document.getElementById('NoSpecialChar').innerHTML = 'Missing Special Character';
        }

        // Validates password contains at least a number
        if (numberRgx.test(input.value) == 1) {
            document.getElementById('NoNumber').innerHTML = '';
        } else {
            document.getElementById('NoNumber').innerHTML = 'Missing at least a number';
        }
    })
</script>
{% endblock %}